
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenido{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/vendor/user/user.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
{% block body %}

<div id="ju" class="jumbotron col-md-6 col-md-offset-3">
<div class="container">

  <h3>Ingresa los datos de acceso</h3>

  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path('login_check') }}" method="post">
      <label for="username">email:</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="_password" />

      {#
          If you want to control the URL the user
          is redirected to on success (more details below)
          <input type="hidden" name="_target_path" value="/account" />
      #}

      <input type="hidden" name="_target_path" value="/cliente/home" />

      <button type="submit">login</button>
  </form>

</div>
</div>






{% endblock %}

{% block javascripts %}
<script src="{{ asset('/assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/assets/vendor/jquery/dist/jquery.min.js') }}"></script>
{% endblock %}
