{{ form_start(form) }}
    {{ form_row(form.Nombre) }}
    {{ form_row(form.ApellidoP) }}
    {{ form_row(form.ApellidoM) }}
    {{ form_row(form.compania) }}
    {{ form_row(form.telefono) }}
    {{ form_row(form.cel) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
